<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1><%= title %></h1>

    <p id="quote" style="font-size: 22px;" ></p>

  <script>

    const socket = io();

    socket.on('dataUpdate', (data) => {

      const quote = document.getElementById('quote');

      quote.innerHTML = data; // Clear existing data

    });

  </script>

</body>
</html>